sudo: required #is required to use docker service in travis

language: python

services:
  - docker

cache:
  directories:
    - "$HOME/google-cloud-sdk/"

install:
  - echo "install nothing!"

script:
  - echo "no tests!"

after_success:
  - if [ ! -d "$HOME/google-cloud-sdk/bin" ]; then rm -rf $HOME/google-cloud-sdk; curl https://dl.google.com/dl/cloudsdk/channels/rapid/downloads/google-cloud-sdk-229.0.0-linux-x86_64.tar.gz > google-cloud-sdk.tar.gz ; fi
  - tar -xzf google-cloud-sdk.tar.gz
  - source ./google-cloud-sdk/path.bash.inc
  - bash ./scripts/deploy-travis-gcs.sh
